
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> le nombre de participant {{t}} et  {{nb_participants}}</h1> 

<form action= " {{path('app_club2')}}">

    <button>Acceuil</button>

</form>


</body>
</html>